* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  background-color: #cdcdcd;
}
h2 {
  font-size: 30px;
  line-height: 45px;
}
.ancho {
  width: 1200px;
  margin: auto;
  /*border: 1px red solid;*/
}
.margen {
  padding: 15px;
}
.contenedor_marcas1 {
  text-align: center;
}
.contenedor_marcas2 {
  margin-top: 10px;
  text-align: center;
}
.principal {
  font-family: impact;
  text-align: center;
  padding-bottom: 10px;
}
.img1 {
  margin-right: 50px;
}
.img2 {
  margin-right: 50px;
  margin-bottom: 10px;
}
.img4 {
  margin-right: 50px;
}
.img5 {
  margin-right: 50px;
  margin-bottom: 0px;
}
.verde {
  color: #67972b;
}
.contenedor_cuestionario {
  padding: 30px;
  text-align: center;
  width: 800px;
  background-color: #eeeeee;
  border-radius: 10px;
  border: #858080 3px solid;
}
.negritas {
  font-weight: bold;
}
input[type="text"],
input[type="tel"], select, textarea {
  background-color: #f3f3f3;
  border: 2px solid #cdcdcd;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 80%;
  color: #333;
}
input[type="submit"] {
  background-color: #eb8807;
  color: white;
  border: 0px;
  padding: 10px 50px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 5px;
  font-weight: bold;
}
.contenedor_checkbox {
  text-align: left;
  width: 80%;
  margin: auto;
}
.contenedor_checkbox label span {
  color: #9a1010;
  text-decoration: underline;
}
textarea {
  resize: none;
  height: 150px;
  border-radius: 10px;
}
.contenedor_cuestionario p {
  color: #666363;
}
